In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import PolynomialFeatures

In [60]:
df = pd.read_clipboard()

In [68]:
hy_df= df[['YEAR','PLUG-IN ELECTRIC CARS']]
e_df= df[['YEAR','BATTERY ELECTRIC CARS']]

hy_df.fillna(0,inplace=True)
hy_df

/var/folders/04/59t4vh2x34534rlkgcmfybl40000gn/T/ipykernel_33543/1888041280.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hy_df.fillna(0,inplace=True)

    YEAR  PLUG-IN ELECTRIC CARS
0   2010                    0.0
1   2011                    0.0
2   2012                 6225.0
3   2013                31079.0
4   2014                60370.0
5   2015                84115.0
6   2016                65011.0
7   2017                88334.0
8   2018               106502.0
9   2019               137632.0
10  2020               525311.0
11  2021               852440.0

In [70]:

hy_X = hy_df[['YEAR']]
hy_y = hy_df['PLUG-IN ELECTRIC CARS']

e_X = e_df[['YEAR']]
e_y = e_df['BATTERY ELECTRIC CARS']

In [76]:
poly_reg = PolynomialFeatures(degree=2)
hy_X_poly = poly_reg.fit_transform(hy_X)
poly_reg.fit(hy_X_poly, hy_y)
poly_reg_model = LinearRegression()
poly_reg_model.fit(hy_X_poly, hy_y)
future_years = np.array([2021, 2022, 2023, 2024, 2025]).reshape(-1, 1)
future_years_poly = poly_reg.fit_transform(future_years)
hy_poly_reg_predictions = poly_reg_model.predict(future_years_poly)
print(hy_poly_reg_predictions)

[ 681624.1620636   880428.11358643 1103353.00863647 1350398.847229
 1621565.62937164]

In [75]:
poly_reg = PolynomialFeatures(degree=2)
e_X_poly = poly_reg.fit_transform(e_X)
poly_reg.fit(e_X_poly, e_y)
poly_reg_model = LinearRegression()
poly_reg_model.fit(e_X_poly, e_y)
future_years = np.array([2021, 2022, 2023, 2024, 2025]).reshape(-1, 1)
future_years_poly = poly_reg.fit_transform(future_years)
e_poly_reg_predictions = poly_reg_model.predict(future_years_poly)
print(e_poly_reg_predictions)

[ 732968.19208527  949097.95423889 1191505.91917419 1460192.0868988
 1755156.45741272]

In [93]:
dict_hy ={'YEAR': [2021, 2022, 2023, 2024, 2025],
   'PLUG-IN ELECTRIC CARS' :  [681624, 880428, 1103353, 1350399,
 1621566] }
pred_hy = pd.DataFrame(dict_hy)
pred_hy.drop([0], inplace=True)
pred_hy

   YEAR  PLUG-IN ELECTRIC CARS
1  2022                 880428
2  2023                1103353
3  2024                1350399
4  2025                1621566

In [96]:
 e_final= pd.concat([e_df, pred_e], axis=0)

In [92]:
dict_e ={'YEAR': [2021, 2022, 2023, 2024, 2025],
   'BATTERY ELECTRIC CARS' :  [732968  ,949098, 1191506, 1460192,
 1755156] }
pred_e = pd.DataFrame(dict_e)
pred_e.drop([0], inplace=True)
pred_e

   YEAR  BATTERY ELECTRIC CARS
1  2022                 949098
2  2023                1191506
3  2024                1460192
4  2025                1755156

In [97]:
 hy_final = pd.concat([hy_df, pred_hy], axis=0)

In [101]:
hy_final.drop(columns='YEAR',inplace=True)

In [103]:
final = pd.concat([e_final,hy_final], axis = 1)

In [108]:
final.rename(columns={'BATTERY ELECTRIC CARS': 'Electric', 'PLUG-IN ELECTRIC CARS': 'Plug-in Hybrid'}, inplace=True)

In [110]:
final.to_csv('Final_Pred.csv')

In [109]:
final

    YEAR  Electric  Plug-in Hybrid
0   2010       591             0.0
1   2011      7179             0.0
2   2012     13730          6225.0
3   2013     21454         31079.0
4   2014     31197         60370.0
5   2015     46857         84115.0
6   2016     54065         65011.0
7   2017     83491         88334.0
8   2018    132377        106502.0
9   2019    242966        137632.0
10  2020    536186        525311.0
11  2021    876527        852440.0
1   2022    949098        880428.0
2   2023   1191506       1103353.0
3   2024   1460192       1350399.0
4   2025   1755156       1621566.0

In [114]:
original_value = 852440
new_value = 1621566

percentage_increase = ((new_value - original_value) / original_value) * 100
percentage_increase

90.22640889681385

In [ ]:
100.23981006860028
90.22640889681385